Welcome to the shipping app.

Here are your available commands:<br><br>

<% if current_user %>

  <%= form_for @boat, url: { action: "create", :controller => "boats" } do |b| %>

  <% if @boat.errors.any? %>
    <% @boat.errors.full_messages.each do |m| %>
      <div class="text-danger">
        <%= m %>
      </div>
    <% end %>
  <% end %>

    <h4>CREATE A BOAT</h4>
    Boat Name: <%= b.text_field :name %><br>
    Capacity: <%= b.number_field :capacity %><br>
    Cargo: <%= b.number_field :cargo %><br>
    Location: <%= b.text_field :location %><br>
    <%= b.submit %>
  <% end %>

  <%= form_for @job, url: { action: "create", :controller => "jobs" } do |j| %>

  <% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |m| %>
      <div class="text-danger">
        <%= m %>
      </div>
    <% end %>
  <% end %>


    <h4>Create a Job</h4>
    Description: <%= j.text_area :description %><br>
    Origin: <%= j.text_field :origin %><br>
    Destination: <%= j.text_field :destination %><br>
    Cost: <%= j.number_field :cost %><br>
    Amount: <%= j.number_field :amount %><br>
    <%= j.submit %>
  <% end %>

<% end %>

<% if !current_user %>
  Please log in to create boats and jobs.
<% end %>
