<h2>Unassigned jobs</h2>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Job number</th>
					<th>Date created</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Price</th>
					<th>Number of Containers</th>
					<th>Assign Boat</th>
				</tr>
			</thead>
			<tbody>
				<% @unassigned_jobs.each do |job| %>
					<tr>
						<td><%= link_to job.id, job %></td>
						<td><%= job.created_at %></td>
						<td><%= job.origin %></td>
						<td><%= job.destination %></td>
						<td><%= job.cost %></td>
						<td><%= job.amount %></td>
						<td>
							<%= form_for job do |f| %>
								<%= f.select(:boats,
											options_from_collection_for_select(available(job), :id, :name),
											{},
											{multiple: true}) %>
								<%= f.submit "Assign Boat", class: "btn btn-primary" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
