<h2>Unassigned jobs</h2>
<% form_for @job do |f| %>
	<%= f.select :job_id, @available_boats.all.collect { |b| [b.name, b.id], include_blank: true } %>
	<%= f.submit "This is the one" %>
<% end %>

<%= form_for @job, :html => {class: "form-group"} do |j| %>
<%= j.select(:boats, options_for_select([]), {}, { required: 'true', :class => "form-control" }) do %>
	<% @available_boats.each do |i|%>
		<%= content_tag(:option, i.name) %>
	<% end %>
<% end %>
<%= j.submit "Assign Boat", class: "btn btn-primary" %>
<% end %>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Job number</th>
			<th>Date created</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Price</th>
			<th>Number of Containers</th>
			<th>Assign Boat</th>
		</tr>
	</thead>
	<tbody>
		<% @unassigned_jobs.each do |job| %>
			<tr>
				<td><%= link_to job.id, job %></td>
				<td><%= job.created_at %></td>
				<td><%= job.origin %></td>
				<td><%= job.destination %></td>
				<td><%= job.cost %></td>
				<td><%= job.amount %></td>
				<td><% job.boats.each do |boat| %><%= boat.name %>\n<% end %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2>Open jobs</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Job number</th>
			<th>Date created</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Price</th>
			<th>Number of Containers</th>
			<th>Boat(s) assigned</th>
		</tr>
	</thead>
	<tbody>
		<% @assigned_jobs.each do |job| %>
			<tr>
				<td><%= link_to job.id, job %></td>
				<td><%= job.created_at %></td>
				<td><%= job.origin %></td>
				<td><%= job.destination %></td>
				<td><%= job.cost %></td>
				<td><%= job.amount %></td>
				<td><% job.boats.each do |boat| %><%= boat.name %>\n<% end %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2>Completed jobs</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Job number</th>
			<th>Date created</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Price</th>
			<th>Number of Containers</th>
			<th>Boat(s) assigned</th>
		</tr>
	</thead>
	<tbody>
		<% @old_jobs.each do |job| %>
			<tr>
				<td><%= link_to job.id, job %></td>
				<td><%= job.created_at %></td>
				<td><%= job.origin %></td>
				<td><%= job.destination %></td>
				<td><%= job.cost %></td>
				<td><%= job.amount %></td>
				<td><% job.boats.each do |boat| %><%= link_to boat.name boat %>\n<% end %></td>
			</tr>
		<% end %>
	</tbody>
</table>
