<h2><%= @boat.name %></h2>
<% if @boat.avatar_file_name %>
  <%= image_tag @boat.avatar.url %>
<% end %>

<h3>This boat has the following fields:</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Cargo</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @boat.name %></td>
      <td><%= @boat.capacity %></td>
      <td><%= @boat.cargo %></td>
      <td><%= @boat.location %></td>
    </tr>
    <tr>
      <%= form_for @boat, url: { action: "update", controller: "boats" } do |b| %>
          <td></td>
          <input type="hidden" name="name" value="<%= @boat.name %>">
          <td><%= b.number_field :capacity %></td>
          <td><%= b.number_field :cargo %></td>
          <td><%= b.select(:location, options_for_select([]), {}, { :class => "form-control" }) do %>
            <option value="<%= @boat.location %>"></option>
            <% ports.each do |array|%>
              <%= content_tag(:option, array) %>
            <% end %>
          <% end %></td>
    </tr>
  </tbody>
</table>
          <% if !@boat.avatar_file_name %>
            <%= b.label "Upload an image" %>
            <%= b.file_field :avatar %>
          <% end %>
          <%= b.submit %>
      <% end %>
